# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# Logs / artifacts (ML)
tensorboard_logs/
wandb/
vecnormalize_stats*

# Misc
*.log
*.tmp
*.swp
